<header class="header_main">
    <div class="container">
        <a href="#" class="logo">
            <img src="img/logo.png" alt="">
        </a>
        <nav class="nav">
            <div class="nav_mobile_btn">
                <span></span>
            </div>
            <div class="nav_wrap">
                <a href="#" class="nav_support">Техподдержка</a>
                <a href="#" class="nav_enter">Вход</a>
                <a href="#" class="nav_reg">Регистрация</a>
            </div>
            <div class="nav_open">
                <i></i><i></i><i></i>
            </div>
        </nav>
    </div>
</header>