<div class="popups">
    <div class="popup popup_enter">
        <div class="popup_wrap">
            <div class="cls_form"></div>
            <h3 class="title_popup">Вход</h3>
            <form action="" class="popup_form">
                <input type="email" placeholder="Ваш e-mail" required>
                <input type="password" placeholder="Ваш пароль" required>
                <a class="btn btn_form"><span>Войти</span><i class="icon-arrow"></i></a>
            </form>
        </div>
    </div>
    <div class="popup popup_reg">
        <div class="popup_wrap">
            <div class="cls_form"></div>
            <h3 class="title_popup">Регистрация</h3>
            <form action="" class="popup_form">
                <input type="email" placeholder="Ваш e-mail" required>
                <input type="password" placeholder="Ваш пароль" required>
                <a class="btn btn_form"><span>Зарегистрироваться</span><i class="icon-arrow"></i></a>
            </form>
        </div>
    </div>
    <div class="popup popup_supp">
        <div class="popup_wrap">
            <div class="cls_form"></div>
            <h3 class="title_popup">Техническая поддержка</h3>
            <a href="tel:3801111111">+380 (11) 111-11-11</a>
        </div>
    </div>
</div>