body {
  font: 400 18px/1.5 $fontMain;
  color: #434f5e;
  padding-top: 140px;
}
html {
  font-size: 0.8710vw;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 5px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transition: $time;
  .nav_wrap {
    transition: $time;
  }
}
.fixed {
  position: fixed !important;
}
.title_block {
  color: #007ce8;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.title_block::before {
  content: urlCss("img/spiral.png");
  display: block;
  width: 150px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.title_block_text {
  width: 100%;
  max-width: 855px;
  display: block;
  text-align: center;
  color: #434f5f;
  margin: 0 auto 45px;
}

.btn {
  height: 50px;
  box-shadow: 0 5px 16px rgba(0, 92, 172, 0.47);
  border: none;
  border-radius: 25px;
  background-color: #25baed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 0;
  cursor: pointer;
  transition: $time;
  &:hover {
    background: #fff;
  }
  &:hover span {
    color: #25baed;
  }
  &:hover i {
    background: #25baed;
    transform: translateX(-30%);
  }
  &:hover i:before {
    color: #fff;
  }
}

.btn {
  span {
    margin-left: 20px;
    font-weight: 700;
  }
}

.btn {
  i {
    background-color: #5ad5ff;
    margin-right: 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    transition: $time;
  }
}