$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$colorGreen: #20f379;
$colorGray: #686868;
$colorGrayDark: #252422;

/*fonts*/
$gilroy: "Gilroy", sans-serif;
$gilroyHeavy: "Gilroy Heavy", sans-serif;
$georgia: "Georgia";

/*effects*/
$time: .4s ease-in-out;
