<section class="first_screen">
    <div class="container">
        <!--BEGIN HEADER-->
        @@include('./header.html')
        <!--END HEADER-->
        <div class="first_screen__wrap">
            <div class="first_screen__offer load_active">
                <p class="big load_active">Оформление <span>визы</span></p>
                <p class="small load_active">в США на 10 лет</p>
            </div>
            <div class="first_screen__price load_active">
                <p class="load_active"><span>100$</span></p>
                <p class="load_active">69$</p>
                <a href="#" class="btn btn_white first_screen__price_btn load_active p_feedback"><span>Оформить визу</span></a>
            </div>
        </div>
        <div class="first_screen__gift load_active">
            <p>Или получите <span>бесплатную</span> консультацию в онлайн - чате</p>
            <a href="#" class="btn btn_blue first_screen__gift_btn load_active p_feedback"><span>Бесплатная консультация</span></a>
        </div>
    </div>
    <div class="first_screen__bg load_img">
        <img src="img/first_screen__overflow.png" alt="фон">
        <img src="img/first_screen__bg.png" alt="фон" class="parallax">
    </div>
</section>