$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;


$time: .4s ease-in;
/*color*/
$colorBlack: #2d323e;
$colorWhite: #fff;
$colorBlue: #627890;
/*fonts*/
$fontCentury: 'Century';
$fontHelvetica: 'Helvetica';
$fontMuseo: 'Museo';
/*effects*/