<header class="header">
    <div class="container">
        <div class="header_wrap">
            <div class="left_side">
                <a href="#"><img src="img/logo.png" class="header_logo" alt=""></a>
            </div>
            <div class="right_side">
                <div class="burger_menu">
                    <span></span>
                </div>
                <div class="header_nav">
                    <div class="nav_cls btn_cls"><span></span></div>
                    <div class="nav_list">

                        <a href="#" data-block="about">О нас</a>
                        <a href="#" data-block="kinds">Виды лечения</a>
                        <a href="#" data-block="benefits">Преимущества</a>
                        <a href="#" data-block="stages">Этапы лечения</a>
                        <a href="#" data-block="gallery">Галерея</a>
                        <a href="#" data-block="personnel">Персонал</a>
                        <a href="#" data-block="contacts">Контакты</a>
                    </div>
                </div>
                <a href="tel:0631950000" class="header_call">063 195 00 00</a>
            </div>
        </div>
    </div>
</header>