$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$black: #1f1f1f;
$blue: #8884c3;
$dark-blue: #51277a;
$white: #fff;
$btnColor: #975ecf;
$titleColor: #51277a;
/*fonts*/
$fontMontserrat: 'Montserrat';
$fontLato: 'Lato';
$fontFontello: 'fontello';
/*effects*/
$time: .5s ease-out;