$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$black: #333333;
$blue: #2d476c;
$green: #c9e8d1;
$white: #fff;
/*fonts*/
$fontOpen: 'OpenSans';
$fontMontserrat: 'Montserrat';
/*effects*/
$time: .5s ease-in;