$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$white: #fff;
$dark: #333333;
$colorGreen: #01ca95;
/*fonts*/
$fontMontserrat: 'Montserrat';
$mobileTitleSize: 26px;
/*effects*/
