<header class="header_main">
    <div class="container">
        <a href="#" class="logo">LOGO</a>
        <p class="burger_menu">
            <span></span>
        </p>
        <div class="header_main__nav">
            <p class="nav_cls"></p>
            <div class="nav_link">
                <a href="index.html" class="active">Home</a>
                <a href="pricing.html">Pricing</a>
                <a href="referal.html">Referral Program</a>
                <a href="faq.html">FAQ</a>
                <a href="contact.html">Contact</a>
            </div>
        </div>
        <a href="#" class="btn feedback"><span>Free Concept</span></a>
    </div>
</header>