.we_offer {
  position: relative;
  z-index: 3;
  background-color: #fff;
  padding: 75px 0 100px;
  overflow: hidden;

  &::before {
    @include before(100%, 404px, #ededed);
    top: 0;
    left: 0;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 3;
  }

  .title_block {
    margin-bottom: 110px;
    color: $colorDark;
  }
}

.we_offer_elem {
  width: 100%;
  max-width: 496px;
  text-align: center;
  margin: 0 10px 20px;
  &:hover {
    .w_o_e_img {
      img {
        transform: scale(1.1);
      }
    }
  }

  .w_o_e_img {
    width: 100%;
    height: 324px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    background: #000;
    transition: transform $time, box-shadow $time;
    img {
      position: absolute;
      top: -1%;
      left: -1%;
      width: 102%;
      height: 102%;
      object-fit: cover;
      transition: transform $time, box-shadow $time;
    }
  }

  .w_o_e_title {
    font: 700 36px/1.33 $fontHelvetica;
    color: #000000;
    margin-bottom: 25px;
  }

  .w_o_e_text {
    color: #4d5358;
  }
}

.we_offer_list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  width: 100%;

  .we_offer_elem {
    flex: 1 1 28%;
  }
}

.section_text {
  position: relative;
  z-index: 5;
  background-color: #fff;
  height: 100%;
  min-height: 776px;

  .section_text_wrap {
    display: flex;
    width: 100%;
    background: #fff;
  }

  .section_text_img {
    width: 100%;
    height: auto;
    max-width: 883px;
    position: relative;
    z-index: 1;
    left: 77px;
    top: 70px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .section_text_content {
    padding: 225px 0 160px 0;
    color: #fff;
    width: 100%;
    max-width: 640px;
    margin-left: 87px;
    position: relative;
    z-index: 3;
  }

  .s_t_c_title {
    color: #000;
    font-family: $fontHelvetica;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 68px;
  }

  .s_t_c_text {
    p {
      color: #000;
      font-family: $fontMinion;
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
    }
  }
}

.coffee_machine {
  position: relative;
  background: #fff;
  z-index: 6;
  .container {
    max-width: 1738px;
    padding: 70px 0;
  }
  .coffee_machine_box {
    overflow: hidden;
    background: #ededed;
    padding: 80px 108px 69px 44px;
    & .title_m {
      display: none;
      color: #000000;
      font-size: 48px;
      font-weight: 700;
      line-height: 60px;
      font-family: $fontHelvetica;
      margin-bottom: 34px;
      text-align: center;
    }
  }
  .coffee_machine_slider {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .c_m_s_image {
      padding-top: 35px;
      width: 100%;
      max-width: 559px;
      position: relative;
      margin-right: 50px;
      img {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: auto;
        top: 0;
        left: -30%;
        transition: opacity $time, left $time;
        &.active {
          opacity: 1;
          visibility: visible;
          position: relative;
          left: 0;
        }
      }
      .coffee_controls {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(50%,50%);
        display: flex;

        .btn_left, .btn_right {
          width: 71px;
          height: 65px;
          border: 2px solid #000000;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background $time;
          cursor: pointer;
          background: #000;

          svg {
            width: 100%;
            max-width: 20px;
            height: auto;
            fill: #fff;
            transition: fill $time;
          }

          &:hover, &.active {
            background: #fff;

            svg {
              fill: #000;
            }
          }
        }

        .btn_left {
          svg {
            transform: rotate(-135deg);
          }
        }

        .btn_right {
          svg {
            transform: rotate(45deg);
          }
        }
      }
    }

    .c_m_s_t_wrap {
      width: 100%;
      max-width: 769px;
      .btn {
        width: 100%;
        max-width: 351px;
        height: 65px;
        background: #000000;
        color: #ffffff;
        font-family: $fontHelvetica;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background $time, color $time;
        border: 2px solid #000;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }
    .c_m_s_text {
      .title {
        color: #000000;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        font-family: $fontHelvetica;
        margin-bottom: 34px;
      }
    }
    .c_m_s_t_elem {
      position: absolute;
      top: 0;
      left: -30%;
      opacity: 0;
      visibility: hidden;
      transition: opacity $time .1s, left $time .1s;
      &.active {
        position: relative;
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      .machine_name {
        color: #000000;
        font-family: $fontHelvetica;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 10px;
      }
      p {
        color: #000000;
        font-family: $fontMinion;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 61px;
      }
      .drinks {
        display: flex;
        flex-direction: column;
        margin-bottom: 118px;
        p {
          color: #000000;
          font-family: $fontHelvetica;
          font-size: 20px;
          font-weight: 700;
          line-height: 36px;
          margin-bottom: 40px;
        }
        .drinks_list {
          display: flex;
          align-items: flex-end;
          img {
            width: auto;
            height: auto;
            max-width: 55px;
            max-height: 55px;
            margin-right: 50px;
            opacity: .3;
          }
        }
      }
    }
  }
}

.gallery {
  padding: 20px 0 132px 0;
  position: relative;
  z-index: 5;
  width: 100%;
  background: #fff;
  min-height: 907px;

  .title_block {
    color: #000;
    margin-bottom: 147px;
  }

  .gallery_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .gallery_controls {
    position: absolute;
    right: 5px;
    top: -70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80px;

    .btn_left, .btn_right {
      svg {
        width: 100%;
        max-width: 20px;
        height: auto;
        fill: #000;
        transition: fill $time;
        display: block;
      }

      &:hover {
        cursor: pointer;

        & svg {
          fill: $colorGreen;
        }
      }
    }

    .btn_left {
      transform: rotate(-135deg);
    }

    .btn_right {
      transform: rotate(45deg);
    }
  }

  .gallery_elem_left {
    width: 100%;
    max-width: 1196px;
    height: 599px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      visibility: hidden;
      transform: scale(.9);
      transition: opacity .8s ease-in-out, transform .8s ease-in-out;
      cursor: pointer;
      &.active {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .gallery_elem_right {
    width: 100%;
    max-width: 532px;
    .elem_right {
      margin: 0;
      line-height: 0;
      margin-bottom: 25px;
      width: 100%;
      max-width: 530px;
      height: 300px;
      overflow: hidden;
      position: relative;
      &:nth-child(2) {
        margin-bottom: 0;
        height: 274px;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: scale(.9);
        transition: opacity .8s ease-in-out, transform .8s ease-in-out;
        cursor: pointer;
        &.active {
          position: relative;
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
        &:hover {
          transform: scale(1.05);
        }
      }

    }


  }
}

.sorts {
  position: relative;
  z-index: 6;
  background: #fff;
  overflow: hidden;
  min-height: 916px;

  .container {
    max-width: 1414px;
  }

  .sorts_img {
    width: 100%;
    max-width: 516px;
    height: 100%;
    position: absolute;
    z-index: 1;

    &:before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      top: 0;
      left: 0;
      background: rgba(2, 206, 108, .9);
      z-index: 1;
    }

    img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sorts_slider {
    position: relative;
    z-index: 3;
    padding: 213px 0 52px 40px;
    display: flex;
    justify-content: space-between;
  }

  .s_s_controls {
    display: flex;
    flex-direction: column;

    .btn_left, .btn_right {
      width: 60px;
      height: 60px;
      border: 2px solid #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background $time;
      cursor: pointer;

      svg {
        width: 100%;
        max-width: 20px;
        height: auto;
        fill: #000;
        transition: fill $time;
      }

      &:hover, &.active {
        background: #000;

        svg {
          fill: #fff;
        }
      }
    }

    .btn_left {
      svg {
        transform: rotate(-135deg);
      }

      border-bottom: 0;
    }

    .btn_right {
      svg {
        transform: rotate(45deg);
      }
    }
  }

  .s_s_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    p {
      color: #ffffff;
      font-family: $fontHelvetica;
      font-size: 69px;
      font-weight: 700;
      margin-left: 21px;
    }
  }

  .s_s_active {
    width: 100%;
    max-width: 1070px;
    display: flex;
    justify-content: space-between;
    padding-top: 43px;

    .s_s_a_img {
      width: 100%;
      max-width: 355px;
      position: relative;
      margin-right: 20px;
      img {
        top: 0;
        left: -100px;
        width: 100%;
        height: auto;
        object-fit: cover;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: opacity $time, position $time, left .5s ease-in-out;
        &.active {
          position: relative;
          opacity: 1;
          visibility: visible;
          left: 0;
        }
      }
    }

    .s_s_a_text {
      width: 100%;
      max-width: 555px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: position $time, opacity $time, right .5s ease-in-out;
      top: 0;
      right: -100px;

      &.active {
        position: relative;
        visibility: visible;
        opacity: 1;
        right: 0;
      }

      .title {
        color: #000000;
        font-family: $fontHelvetica;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 41px;
      }

      .s_s_a_t_info {
        p {
          color: #5b5c78;
          font-family: $fontMinion;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          margin-bottom: 60px;
        }
      }

      .weight {
        display: flex;
        margin-bottom: 63px;

        p {
          height: 50px;
          border: 2px solid #000000;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 37px;
          color: #000000;
          font-family: $fontHelvetica;
          font-size: 24px;
          font-weight: 700;
          transition: background $time, color $time;
          cursor: pointer;
          margin-right: 23px;

          &:last-child {
            margin-right: 0;
          }

          &:hover, &.active {
            background: #000000;
            color: #fff;
          }
        }
      }

      hr {
        width: 100%;
        height: 2px;
        background-color: #d3d3d3;
        border: none;
        margin-bottom: 25px;
      }

      .price {
        align-self: flex-end;
        color: #000000;
        font-family: $fontHelvetica;
        font-size: 36px;
        font-weight: 700;
        line-height: 14.4px;
        text-transform: uppercase;

        span {
          margin-right: 10px;
        }

        sup {
          color: #5b5c78;
          font-size: 20px;
        }
      }
    }
  }
}