$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$colorGreen: #02ce6c;
$colorDark: #0a0802;

/*fonts*/
$fontHelvetica: "HelveticaNeueCyr", sans-serif;
$fontMinion: "Minion Pro", sans-serif;

/*effects*/
$time: .4s ease-in-out;
