<header class="header_main">
    <div class="container">
        <div class="header_main_left">
            <a href="#" class="logo">
                <img src="img/big_logo.png" alt="">
            </a>
            <div class="header-menu header-nav">
                <a href="index.html" class="active">Главная</a>
                <a href="about.html">О компании</a>
                <a href="team.html">Команда</a>
                <a href="practice.html">Практики</a>
                <a href="career.html">Карьера</a>
                <a href="news.html">Новости</a>
                <a href="contacts.html">Контакты</a>
            </div>
            <div class="header_menu_mobile"><span></span></div>
        </div>
        <div class="lang">

            <ul class="language-chooser language-chooser-text qtranxs_language_chooser" id="language-chooser">
                <li class="lang-ru active"><a href="http://maslodolfincoco.sevenpowerx.com.ua/?page_id=885&amp;paged=2&amp;lang=ru" hreflang="ru" title="Русский (ru)" class="qtranxs_text qtranxs_text_ru"><span>Русский</span></a></li>
                <li class="lang-en"><a href="http://maslodolfincoco.sevenpowerx.com.ua/?page_id=885&amp;paged=2&amp;lang=en" hreflang="en" title="English (en)" class="qtranxs_text qtranxs_text_en"><span>English</span></a></li>
                <li class="lang-ua"><a href="http://maslodolfincoco.sevenpowerx.com.ua/?page_id=885&amp;paged=2&amp;lang=ua" hreflang="ua" title="Українська (ua)" class="qtranxs_text qtranxs_text_ua"><span>Українська</span></a></li>
            </ul><div class="qtranxs_widget_end"></div>
        </div>
    </div>
</header>