@media only screen and (max-width: 1350px) {
  .reviews {
    .reviews_list {
      margin: 0;
    }
  }
  .stages_list {
    margin: 0;
  }
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1170px) {
  .nav {
    a {
      font-size: 16px;
      margin-left: 10px;
    }
  }
  .stages_list {
    align-items: center;
    justify-content: center;
  }
  .stages_elem {
    margin: 0 20px 20px;
    flex: 1 1 40%;
  }
  .contacts_left {
    width: 100%;
    max-width: 400px;
  }
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 14px;
  }
  .contacts_left {
    margin-right: 20px;
  }
  .contacts_form {
    margin-right: 20px;
    max-width: inherit;
  }
  .top_section {
    .top_section_img {
      max-width: 320px;
    }
  }
  .indicator_detail_content {
    padding-top: 0;
  }
  .indicator_detail {
    .indicator_detail_img {
      max-width: 200px;

      img {
        height: 400px;
      }
    }
  }
  .stages_top {
    .stages_preview {
      max-width: 380px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contacts_left {
    max-width: 300px;
  }
  .stages_elem {
    margin: 0 10px 20px;
  }
  .stages_top {
    flex-direction: column;
    align-items: center;

    .stages_preview {
      max-width: 600px;
      margin-bottom: 50px;
      margin-right: 0;
    }
  }
  .contacts_left {
    margin-bottom: 20px;
  }
  .header_main.active {
    .nav {
      &.active {
        top: 70px;
      }
    }
  }
  .burger_menu {
    display: flex;
  }
  .nav {
    position: fixed;
    top: -200%;
    right: 0;
    width: 100%;
    height: 100%;
    background: $bgTopSection;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 49;
    transition: top $time;

    &.active {
      top: 100px;
    }

    a {
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
  body.white{
    .nav{
      background-color: #fff;
    }
  }
}

@media only screen and (max-width: 620px) {
  .theme_control .theme_control_name {
    display: none;
  }
  .copyright_block {
    margin-left: 10px;
  }
  .basement {
    .container {
      div {
        &:first-child {
          display: none;
        }
      }
    }
  }
  .contacts_data {
    address {
      max-width: inherit;
    }
  }
  .contacts_left {
    max-width: 500px;
  }
  .footer_main {
    .contacts_wrap {
      flex-direction: column;
    }

    .contacts_right {
      max-width: inherit;
    }

    .contacts {
      padding: 50px 0;
    }
  }
  .reviews {
    .reviews_elem {
      margin-bottom: 30px;
    }

    .reviews_list {
      flex-direction: column;
      align-items: center;
    }
  }
  .analytics_list {
    margin-bottom: 50px;
    max-width: inherit;
  }
  .analytics {
    padding-top: 50px;

    .container {
      flex-direction: column-reverse;
    }
  }
  .analytics_detail {
    margin-bottom: 40px;
  }
  .indicator_detail {
    flex-direction: column;
    align-items: center;

    .indicator_detail_img {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  .indicator_list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .indicator_elem {
    margin: 0 20px 30px;
  }
}

@media only screen and (max-width: 420px) {
  .popup_feedback, .popup_info {
    background: #0b0c1b;
  }
  .copyright_block {
    margin-bottom: 20px;
  }
  .basement {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }
  .stages_elem {
    flex: 1 1 100%;
    max-width: 320px;
  }
}
